/* src/components/Navbar.css */

.navbar {
    background: linear-gradient(90deg, #3f51b5, #5c6bc0);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Bu kısım elementleri dikey olarak ortalamak için */
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;  /* Başlık ve logo gibi elemanları dikey olarak hizalar */
  }
  
  .navbar-brand h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    position: relative;
  }
  
  .navbar-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
  }
  
  .navbar-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
  }
  
  .navbar-icon {
    margin-right: 8px;
    font-size: 1.2em;
  }
  
  .navbar-item a:active {
    transform: translateY(1px);
  }
  